<p>АвтоРосСервис начал обслуживание автомобилей с 1993 года. И почти за 20 лет автомобильного бизнеса мы всегда идем навстречу нашему клиенту и всегда выполняем работу качественно. Потому мы не боимся давать гарантий.</p>
<p><strong>Мы не делаем разграничений между марками автомобилей</strong>. Мы боремся за "жизнь" каждого автомобиля - будь он отечественного или зарубежного производства. При этом наша цель - помочь Вам обеспечить безопасность передвижения на транспортном средстве и завоевать Ваше доверие.</p>
<p>Наша компания выполняет разные виды ремонта всех систем автомобиля: <em>ходовых, электрооборудования, КПП и АКПП, двигатели и многое другое</em>.</p>
Помимо ремонта комплектующих и блока, в наши услуги входит тюнинг. По желанию клиента сотрудники компании установят любое дополнительное оборудование:
<ul>
  <li>охранные системы,</li>
  <li>автозвук,</li>
  <li>реставрация и тюнинг салонов,</li>
  <li>тонировка.</li>
</ul>
<strong>В нашем сервисе всегда есть акции</strong>, с условиями которых можете ознакомиться на этом сайте.
<h4 class="text-info">"Автороссервис" всегда рад оказать Вам необходимую услугу: отремонтировать, починить, отреставрировать. Нам важны Ваши спокойствие, уверенность и безопасность, поэтому любую работу выполним быстро и всегда - качественно!</h4>