<div class="well well-large center">Мы работаем ежедневно с 9:00 до 21:00!</div>
<p>
<address>
  <strong>Телефоны:</strong><br>
  <span class="otstup">+ 7 (846) 926-16-55<br></span>
  <span class="otstup">+ 7 (846) 225-49-89<br></span>
</address>
<address>
  <strong>E-mail:</strong><br>
  <span class="otstup">info@avtorosservis.com</span>
</address>
<address>
  <strong>Адрес:</strong><br>
  <span class="otstup">443011, г. Самара, ул. Тихвинская, 17.</span>
</address>
</p>
<div id="ymaps-map-container"  style="width: 700px; height: 450px; text-align: center;"></div>
<div style="width: 450px; text-align: right;"></div>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&amp;load=package.full&amp;wizard=constructor&amp;lang=ru-RU"></script><script type="text/javascript">// <![CDATA[
ymaps.ready(function() {var map = new ymaps.Map("ymaps-map-container", {center: [50.19112670635983, 53.22895455588241], zoom: 16, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([50.18971, 53.229161], {balloonContent: "Мы тут!"}, {preset: "twirl#blueDotIcon"}));});
// ]]></script>
