Основываясь на <strong>20-тилетнем</strong> опыте работы на рынке автомобильного бизнеса, мы знаем, что нужно Вам, нашему клиенту. Исходя из этого, мы предлагаем следующие услуги:
<p><ul>
  <li><strong><a href="http://avtorosservis.com/remont-podveski-avtomobilya/ " target="_blank">Подвеска автомобиля</a></strong></li>
  <li><strong><a href="http://avtorosservis.com/remont-toplivnoj-sistemy-i-sistemy-podachi-vozduha/" target="_blank">Ремонт топливной системы и системы подачи воздуха</a></strong></li>
  <li><strong><a href="http://avtorosservis.com/rulevoe-upravlenie/" target="_blank">Рулевое управление</a></strong></li>
  <li><strong><a href="http://avtorosservis.com/tormoznaya-sistema/" target="_blank">Тормозная система</a></strong></li>
  <li><strong><a href="http://avtorosservis.com/e-lektrika/">Электрика</a></strong></li>
  <li><strong><a href="http://avtorosservis.com/optika/">Оптика</a></strong></li>
  <li><strong><a href="http://avtorosservis.com/sistemy-vy-puska/">Системы выпуска</a></strong></li>
  <li><strong><a href="http://avtorosservis.com/tyuning/">Тюнинг<!--more--></a></strong></li>
</ul>
</p>
<div>Мы занимаемся всеми видами работ, кроме кузовного ремонта. По ссылкам выше Вы сможете найти основную информацию и узнать цены на самые популярные услуги. Всё остальное Вы можете узнать по телефонам, e-mail или в самом автосервисе. Все контактные данные указаны <strong><a href="http://avtorosservis.com/kontakty">на этой странице</a></strong>.</div>
<br>
<div class="dropdown">
  <a href="#" type="button" id="menushka" role="button" class="dropdown-toggle" data-toggle="dropdown">НОЖЕМАЙ СКАРЕЕ</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menushka">
      <li><a tabindex="-1" href="#">Действие</a></li>
      <li><a tabindex="-1" href="#">Другое действие</a></li>
      <li><a tabindex="-1" href="#">Еще ссылка</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Доп. ссылка</a></li>
    </ul>
</div>
<div class="dropdown">
  <a type="button" id="drop001" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">Veliov Group <b class="caret"></b></a>.
  <ul class="dropdown-menu" role="menu" aria-labelledby="drop001">
    <li><a tabindex="-1" href="http://veliovgroup.com">Перейти на сайт</a></li>
    <li><a tabindex="-1" href="http://veliovgroup.com" target="_blank">В новой вкладке</a></li>
    <li class="divider"></li>
    <li class="dropdown-submenu">
      <a tabindex="-1" href="#">Другие проекты</a>
      <ul class="dropdown-menu">
        <li><a tabindex="-1" href="http://ganja-bar.veliov.com" target="_blank">Ganja-bar</a></li>
        <li><a tabindex="-1" href="http://adminizer.veliovgroup.com" target="_blank">Indira CMS</a></li>
        <li><a tabindex="-1" href="http://veliovgroup.com/item/Визуализатор+со+случайными+значениями" target="_blank">Визуалайзер</a></li>
        <li><a tabindex="-1" href="https://www.veliov.com" target="_blank">Бесплатные видеоконференции</a></li>
        <li><a tabindex="-1" href="http://cssbuilder.veliovgroup.com" target="_blank">CSS3 & jQuery конструктор</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Кнопка
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">

      <li><a tabindex="-1" href="#">Действие</a></li>
      <li><a tabindex="-1" href="#">Другое действие</a></li>
      <li><a tabindex="-1" href="#">Еще ссылка</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Доп. ссылка</a></li>

  </ul>
</div>

<ul class="nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Действие</a></li>
      <li><a tabindex="-1" href="#">Другое действие</a></li>
      <li><a tabindex="-1" href="#">Еще ссылка</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Доп. ссылка</a></li>
    </ul>
  </li>
</ul>