<h2>Наш сервис предлагает самарским владельцам автомобилей любых марок запчасти и аксессуары.</h2>
Запчасти от "Автороссервис" - гарантия исправной и стабильной работы Вашего автомобиля.

Автороссервис имеет значительный опыт в продаже автозапчастей. Вы легко можете найти интересующую Вас деталь из нашего широкого ассортимента.
<h3>Ассортимент</h3>
Наш сервис может предложить Вам такие запчасти, как:
<ul>
  <li>Детали кузова,</li>
  <li>Детали подвески,</li>
  <li>Детали двигателя,</li>
  <li>Детали ходовой и элементы тормозной системы,</li>
  <li>Автомобильные крылья, капоты, бамперы,</li>
  <li>Вакуумный усилитель,</li>
  <li>Подшипники ступиц, ступицы,</li>
  <li>Амортизаторы,</li>
  <li>Рулевые наконечники, рулевые тяги,</li>
  <li>Втулки и стойки стабилизатора,</li>
  <li>Рычаг подвески,</li>
  <li>Автостёкла,</li>
  <li>Бензонасосы,</li>
  <li>Двери,</li>
  <li>Свечи зажигания,</li>
  <li>Датчики,</li>
  <li>Термостаты,</li>
  <li>Шаровые опоры,</li>
  <li>Сайлентблоки,</li>
  <li>Ролики,</li>
  <li>Приводные ремни,</li>
  <li>ГРМ,</li>
  <li>Сальники,</li>
  <li>Автомобильные прокладки, и многое другое.</li>
</ul>
<strong>Всю информацию Вы можете получить <%= link_to("по телефонам или email", contact_path)%></strong>